    <!-- Testing -->


<br>
<div class="container">

  <div class="col-sm-5">
    <div class="do-item">
      <img src="https://images.unsplash.com/photo-1443219039328-224ed0298799?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0aa288e30d9e8761cdae0aeeed163208" class="do-item">
      <div class="do-info-wrap">
        <div class="do-info">
          <div class="do-info-front"></div>
          <div class="do-info-back">
            <h3>Levels</h3>
            <div> Log your blood glucose levels </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
    </div>
    <div class="col-sm-5">
    </div>
  </div>



  <div class="col-sm-5">
    <div class="do-item">
      <img src="https://images.unsplash.com/photo-1449453791997-5c0240b106e5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a030b1259c4d68c5a477d12bb18b281b" class="do-item">
      <div class="do-info-wrap">
        <div class="do-info">
          <div class="do-info-front"></div>
          <div class="do-info-back">
            <h3>Meals</h3>
            <div> What did you have to eat? </div>
            <div> New meal here! </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
    </div>
    <div class="col-sm-5">
    </div>
  </div>


  <div class="col-sm-5">
    <div class="do-item">
      <img src="https://images.unsplash.com/photo-1457449205106-d0aad138e99b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=075327777e0c668429e6908870e575b1" class="do-item">
      <div class="do-info-wrap">
        <div class="do-info">
          <div class="do-info-front"></div>
          <div class="do-info-back">
            <h3> Activity </h3>
            <div >Record your activity </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
    </div>
    <div class="col-sm-5">
    </div>
  </div>


    <div class="col-sm-5">
    <div class="do-item">
      <img src="https://images.unsplash.com/photo-1464958674501-4dc3d73d8f46?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=012504555848e4c54c50dfbf26dd857a" class="do-item">
      <div class="do-info-wrap">
        <div class="do-info">
          <div class="do-info-front"></div>
          <div class="do-info-back">
            <h3>Max Mustermann (43)</h3>
            <div>Mönchaltdorf
              <br /> Beruf / Funktion</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
    </div>
    <div class="col-sm-5">
    </div>
  </div>




