<h1> Dapp </h1>

<h3><%= link_to "Levels", "/levels/", class: "btn btn-success" %></h3>
<h3><%= link_to "Meals", "/meals", class: "btn btn-success" %></h3>
<h3><%= link_to "Activities", "/activities", class: "btn btn-success" %></h3> 
<h3><%= link_to "Reports", "/reports", class: "btn btn-success" %></h3> 