
  

      <div>
        <% @diets.each do |diet| %>    
        <h4> <a href="/meals/<%= diet.id %>"><%= diet.meal%></a></h4>
        <h5>Date: <%= diet.date %></h5>
        <h5>Carbs: <%= diet.carbs %></h5>
        <br>
      </div>
      <% end %>    




















