
  
<div class="thumbnail">
  <a href="#"><img src="https://images.unsplash.com/photo-1449453791997-5c0240b106e5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a030b1259c4d68c5a477d12bb18b281b" alt=""></a>
</div>
<br>

<div class="caption">
  <h4>Meals</h4>
  <p>What did you have to eat?</p>
  <a class="btn btn-mini" href="#">&raquo; Log your meal</a>
</div>

  <div>
    <% @diets.each do |diet| %>    
    <h4> <a href="/meals/<%= diet.id %>"><%= diet.meal%></a></h4>
    <h5>Date: <%= diet.date %></h5>
    <h5>Carbs: <%= diet.carbs %></h5>
    <br>
  </div>
  <% end %>
     





















