// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$black: #000;

.diet-info {
  padding: 2em;
  display: inline-block;
  border: 1px solid #ccc;

  h4 a {
  background: #000;
  color: #fff;
  margin-bottom: 3em;
  padding: 0.5em;
  }

  h5 {
    margin: 1em 0;
  }

}